<h1>createページ</h1>

<%#postで送信されてきた値を画面に表示する%>
<p1><%#= params %></p1>
<h3><%#= @sort %></h3>
<h4><%= @Return_url %><h4>
<h5><%= @Return_grade %></h5>
<h5><%#= params[:ext_content_return_types] %></h5>
<h5><%#= params[:selection_directive] %></h5>



<%= form_tag('/home/top', method: :get) do %>
  <input type = "submit" value = "topへ">


<% end %>

<%= form_tag(@Return_url , method: :get) do %>
<%#hidden_field_tagにパラメータを入れれば自動でエンコードしてくれるっぽい%>
 <%#ユーザーに見せる　メッセージを表示するパラメーター　%>
  <%= hidden_field_tag :lti_msg,"無事に送信されました。"%>
  <%= hidden_field_tag :lti_log,"正常に完了" %>
  <%= submit_tag 'url' %>

<% end %>

<%= form_tag(@Return_url , method: :get) do %>
<%= hidden_field_tag :lti_errormsg,"間違ってますよ" %>
<%= hidden_field_tag :lti_errorlog,"エラーが発生しました" %>
<%= submit_tag 'error' %>

<% end%>

<%#LTI5 Section2用%>
<%= form_tag(@Return_url , method: :get) do %>
<%= hidden_field_tag :embed_type,"link" %>
<%= hidden_field_tag :url,"http://www.bacon.com" %>
<%= hidden_field_tag :text,"bacon" %>
<%= submit_tag 'test' %>

<% end %>

<%#LTI5 Section3用 画像を乗っける場合の処理について書かれている　全て必須のパラメータ%>
<%= form_tag(@Return_url , method: :get) do %>
<%= hidden_field_tag :embed_type,"image" %>
<%= hidden_field_tag :url,"http://www.bacon.com/bacon.png" %>
<%= hidden_field_tag :alt,"bacon" %>
<%= hidden_field_tag :width,"200" %>
<%= hidden_field_tag :height,"100" %>
<%= submit_tag 'test2' %>

<% end %>

<%#LTI5 Section4用 iframeの話%>
<%= form_tag(@Return_url , method: :get) do %>
<%= hidden_field_tag :embed_type,"iframe" %>
<%= hidden_field_tag :url,"http://www.bacon.com" %>
<%= hidden_field_tag :width,"200" %>
<%= hidden_field_tag :height,"100" %>
<%= submit_tag 'test3' %>

<% end %>

<%#LTI5 Section5用 ファイルの送信など%>
<%= form_tag(@Return_url , method: :get) do %>
<%= hidden_field_tag :embed_type,"file" %>
<%= hidden_field_tag :url,"http://www.bacon.com/bacon.docx" %>
<%= hidden_field_tag :text,"bacon.docx" %>
<%= hidden_field_tag :content_type,"application/vnd.openxmlformats-officedocument.wordprocessingml.document"%>
<%= submit_tag 'test4' %>

<% end %>

<%#LTI5 Section6用 LTI準拠のアプリの起動urlを渡す場合 %>
<%= form_tag(@Return_url , method: :get) do %>
<%= hidden_field_tag :embed_type,"basic_lti" %>
<%= hidden_field_tag :url,"http://www.bacon.com/bacon_launch" %>
<%= submit_tag 'test5' %>

<% end %>

<%#LTI5 Section7用 %>
<%= form_tag(@Return_url , method: :get) do %>
<%= hidden_field_tag :embed_type,"oembed" %>
<%= hidden_field_tag :url,"http://www.flickr.com/photos/bees/2341623661/" %>
<%= hidden_field_tag :endpoint, "http://www.flickr.com/services/oembed/" %>
<%= submit_tag 'test5' %>

<% end %>

<%#LTI6 Section1用 %>
<%= form_tag(@Return_grade , method: :POST) do %>
<%= hidden_field_tag :lis_outcome_service_url,"esultScore > textString" %>
<%= hidden_field_tag :lis_result_sourcedid,"esultScore > textString" %>

<%= submit_tag 'grade' %>

<% end %>
