<!DOCTYPE html>
<html lang = ja>
  <head>
    <title>NetworkSimulator</title>
    <meta charset = "utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%#読み込み時のアニメーション導入用%>
  <%#<body style="visibility:hidden; background-color:white; background-image:none">%>
  <body>
    <div id = intro></div>
    <%= yield %>
  </body>
</html>
